/** RES Styles **/

/* Highligh the subreddit name on home and multireddit */
body:not([class*="res-r-"]) .tagline .subreddit {
    font-weight: bold;
    background: #cee3f8;
    border-radius: 2px;
    color: #369;
    font-size: 11px;
    line-height: 15px;
    margin-right: .5em;
    padding: 0 2px;
    white-space: nowrap;
}

body:not([class*="res-r-"]) .gilded-icon {
    position: relative;
    display: inline-block;
    margin: 0 0 -14px 8px;
    top: -8px;
    color: #99895F;
    font-size: .9em;
    vertical-align: middle;
}

body:not([class*="res-r-"]) .tagline, .search-result-meta {
    font-size: 11px;
    line-height: 2.5em;
}

/* Link colors */

/** Overwatch **/
[data-subreddit="Overwatch"] .title:before {
    background: #1565c069;
}

[data-subreddit="Overwatch"]:hover .title:before {
    background: #1565c0;
}

/* Blackops4 */
[data-subreddit="Blackops4"] .title:before {
    background: #ffb84da9;
}

[data-subreddit="Blackops4"]:hover .title:before {
    background: #ef6c00;
}

/* The division */
[data-subreddit="thedivision"] .title:before {
    background: #ff7043;
}

[data-subreddit="thedivision"]:hover .title:before {
    background: #d84315;
}