$things: (
    '"Overwatch"': ('background': #1565c069, 'hover': #1565c0, 'tag-text-color': #454e59),
    '"Blackops4"': ('background': #ffb84da9, 'hover': #ef6c00, 'tag-text-color': #454e59), 
    '"thedivision"': ('background': #78909c, 'hover': #37474f, 'tag-text-color': #000),
    '"GameDeals"': ('background': #038df945, 'hover': #038ef9bb, 'tag-text-color': #336699),
    );

    
body:not([class*="res-r-"]) {

    .tagline .subreddit {
        font-weight: bold;
        background: #cee3f8;
        border-radius: 2px;
        color: #369;
        font-size: 11px;
        line-height: 15px;
        margin-right: .5em;
        padding: 0 2px;
        white-space: nowrap;
        padding: 1px 5px!important;
    }

    .gilded-icon {
        position: relative;
        display: inline-block;
        margin: 0 0 -14px 8px;
        top: -8px;
        color: #99895F;
        font-size: .9em;
        vertical-align: middle;
    }

    .tagline, .search-result-meta {
        font-size: 11px;
        line-height: 2.5em;
    }

}


@each $name, $value in $things {
    .link[data-subreddit=#{$name}] .title:before {
        background: map-get($value, "background");
    }
    
    .link[data-subreddit=#{$name}]:hover .title:before {
        background: map-get($value, "hover");
    }

    body:not([class*="res-r-"]) [data-subreddit=#{$name}] .tagline .subreddit {
        background: map-get($value, "background");
        color: map-get($value, "tag-text-color");
    }
}

/* remove the create subrredit button, cuz I dont like it */
.sidebox{
    &.create {
        display: none;
    }
}

/* improve visual feedback of visited posts */
.thing {
    &.visited {
        background-color: #afafaf1c;
    }
}