$things: (
    '"Overwatch"': ('background': #1565c069, 'hover': #1565c0, 'tag-text-color': #454e59),
    '"Blackops4"': ('background': #ffb84da9, 'hover': #ef6c00, 'tag-text-color': #454e59), 
    '"thedivision"': ('background': #78909c, 'hover': #37474f, 'tag-text-color': #000),
    '"GameDeals"': ('background': #038df945, 'hover': #038ef9bb, 'tag-text-color': #336699),
    );

    
body:not([class*="res-r-"]) {

    .tagline .subreddit {
        font-weight: bold;
        background: #cee3f8;
        border-radius: 2px;
        color: #369;
        font-size: 11px;
        line-height: 15px;
        margin-right: .5em;
        padding: 0 2px;
        white-space: nowrap;
        padding: 1px 5px!important;
    }

    .gilded-icon {
        position: relative;
        display: inline-block;
        margin: 0 0 -14px 8px;
        top: -8px;
        color: #99895F;
        font-size: .9em;
        vertical-align: middle;
    }

    .tagline, .search-result-meta {
        font-size: 11px;
        line-height: 2.5em;
    }

}


@each $name, $value in $things {
    .link[data-subreddit=#{$name}] .title:before {
        background: map-get($value, "background");
    }
    
    .link[data-subreddit=#{$name}]:hover .title:before {
        background: map-get($value, "hover");
    }

    body:not([class*="res-r-"]) [data-subreddit=#{$name}] .tagline .subreddit {
        background: map-get($value, "background");
        color: map-get($value, "tag-text-color");
    }
}

/* remove the create subrredit button, cuz I dont like it */
.sidebox{
    &.create {
        display: none;
    }
}

/* improve visual feedback of visited posts */
.thing {
    &.visited {
        background-color: #afafaf1c;
    }
}

/* Bring back the old gild icon */
.gilded-gid2-icon::before {  
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAOCAYAAAD0f5bSAAAABmJLR0QAGACJALpsgx2hAAACcUlEQVQoz22SXUhTcQDFz/3f7d5tztbc3dR9qTUXglgqWRhZGCQYWVCjHnqw0KhEegipJHQEElRE0EPiQ1JWRApmRF9KLsMIIi0x+0ARcW7Nu7nN5q67+7g9RJDi7+1wOA8HfhTWwOEAbV2XZ0635Mw5na7E6p76P7TU2Q4o05i2WCyZzzDyhCjGZSwrmxKEWOvljsnuFSOHA3SxsaCLZeX7aw5XqK25WSCEgiQBszM+9HUPRaJCvD/hxVFn91eRAEChrqA5K5uraWw6orbZzfDzYTSfuwOvJ4ANNiMamxxqi0W/F1yiDQDoplpzvoJV3D9+al+aSsUCAJ72fgKRcfB557GlJBeEENg2mZiPH74X7yjSPKEry/SOzcW2Kn2mVv7w3jBePR9BKLSMhks9GHh2F0NvvmBi3AOzNQOgILndgRmiYpU7TVa9ilDALw+P8j11uHh9GGnpGTh/9S12VTfC4/aBogCjSceoFEwlkWjIaUKQbdLhzNlqDL1sRzAwBwCILAbwuvcGTjZUwWLVg6YJQCQZiUbFd7NuXgAAQ+Z6SJKE32EeL3quIbzgRSqVhNHMAQC8s4G4GI0NEnky6fo2Np0SojEEFyKILi2h61Y9xMX36LxZi7gows+HsbwsYnRkMp5MSf20azQ4X1HKGXy+YFHJ1nw5Z9Dg4KHtKCzKwbZyOwwGDfI2ZqHv8bDg9wcfOdt/ttMAoOT8gxood4+PTetLy+yMVpcOiqL+fgDwoHMg4vHwnxNe6phrghdXaOSst52gGeaKlEppNRlqIRSKKAjBYiomtbR2/Li9pnv/uHDaqqWSxM5CnHJ2ePyr+z/2SvJvoolCUAAAAABJRU5ErkJggg==);  
  background-position: 0;  
  height: 14px;  
  width: 13px;  
}